<%= form_with(model: coordinate) do |form| %>
  <% if coordinate.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(coordinate.errors.count, "error") %> prohibited this coordinate from being saved:</h2>

      <ul>
        <% coordinate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :lat, style: "display: block" %>
    <%= form.number_field :lat %>
  </div>

  <div>
    <%= form.label :long, style: "display: block" %>
    <%= form.number_field :long %>
  </div>

  <div>
    <%= form.label :sighting_id, style: "display: block" %>
    <%= form.text_field :sighting_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
