<p style="color: green"><%= notice %></p>

<%= render @ufo %>

<div>
  <%= link_to "Edit this ufo", edit_ufo_path(@ufo) %> |
  <%= link_to "Back to ufos", ufos_path %>

  <%= button_to "Destroy this ufo", @ufo, method: :delete %>
</div>
